@using SiemensECommerce.Data.ORM;
@model List<Category>

<table>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> AddDate </th>
        <th> IsDelete </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Id </td>
            <td> @item.Name </td>
            <td> @item.AddDate </td>
            <td> @item.IsDeleted </td>
        </tr>
    }



</table>